category_encoders
datasets
lime
notebook
numpy
opencv-python
pandas
scikeras
scikit-learn==1.5.2
xgboost
tensorflow
tensorflow-datasets
tensorflow_docs
tensorflow_probability
tf-keras
torch
torchvision